ETHERSCAN_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALCHEMY_URL=https://eth-goerli.g.alchemy.com/v2/xxxxxxxxxxxxxxxxxxx
ALCHEMY_API_TOKEN=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx
INFURA_URL=https://goerli.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
INFURA_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FOUNDATION_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LOCALHOST_ADMIN_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
UUPS_PROXY_ADMIN_MULTISIG_ADDRESS=
YMT_CLI_MODE=
DEFENDER_TEAM_API_KEY=
DEFENDER_TEAM_API_SECRET_KEY=
NETWORK=
SIGNER_ADDRESS_PRIVATE_KEY=
CURRENCY=