ETHERSCAN_API_KEY=XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
ALCHEMY_URL=https://eth-rinkeby.alchemyapi.io/v2/xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx
ALCHEMY_API_TOKEN=xxxxxxxxxxxx-xxxxxxxxxxxxxxxxxxx
INFURA_URL=https://rinkeby.infura.io/v3/xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
INFURA_API_TOKEN=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
FOUNDATION_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
DEPLOYER_PRIVATE_KEY=xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
LOCAL_FACTORY_ADDERSS=0x5FbDB2315678afecb367f032d93F642f64180aa3
