node_modules
.DS_Store
.idea
.env
.embeddedMode
.saleTemplateName
.node-version

# build
dist
artifacts
artifacts/**/*.dbg.json
allure-results
typechain
*.dbg.json
cache/**/*
!deployments/rinkeby/.chainId
!deployments/localnet/.chainId
deployments/localnet/PledgeLib
abis
test/**/*.js
/slither-output.json
.openzeppelin/*.json
.openzeppelin/unknown-31337.json