node_modules
.DS_Store
.idea
.env
.embeddedMode
.saleTemplateName
.node-version

# build
dist
artifacts
artifacts/**/*.dbg.json
allure-results
typechain/*
*.dbg.json
cache/**/*
!deployments/goerli/.chainId
!deployments/localhost/.chainId
deployments/localhost/*
scripts/events/*.json
typechain-types
abis
test/**/*.js
/slither-output.json
.openzeppelin/unknown-31337.json