node_modules
.DS_Store
.idea
test/**/*.js
.env
.embeddedMode
.saleTemplateName

# build
dist
artifacts
artifacts/**/*.dbg.json
allure-results
typechain
*.dbg.json
cache/**/*
deployments/rinkeby/*
!deployments/rinkeby/.chainId
abis
