# RPC URLs
SEPOLIA_RPC_URL=
MAINNET_RPC_URL=
LOCALHOST_RPC_URL=http://127.0.0.1:8545

# Private Keys
PRIVATE_KEY=

# Etherscan API Key (verify用)
ETHERSCAN_API_KEY=

# Safe Address (本番環境)
SAFE_ADDRESS_SEPOLIA=
SAFE_ADDRESS_MAINNET=

# Chain IDs
SEPOLIA_CHAIN_ID=11155111
MAINNET_CHAIN_ID=1
LOCALHOST_CHAIN_ID=31337
